<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <gazebo xmlns="http://gazebosim.org">
        <plugin name="gz::sim::v8::systems::DiffDrive" filename="libgz-sim-diff-drive-system.so">
            <left_joint>left_wheel_joint</left_joint>
            <right_joint>right_wheel_joint</right_joint>
            <wheel_separation>0.35</wheel_separation>
            <wheel_radius>0.05</wheel_radius>
            <topic>/cmd_vel</topic>
            <odom_topic>/odom</odom_topic>
        </plugin>
    </gazebo>
</robot>